/* ----------------- Bootstrap tools -----------*/
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
/* ----------------- END: Bootstrap tools -----------*/

/* -----------------navbar tools --------------*/
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    margin-left: 0px;
    padding-left: 20px;
}

.nav .nav-center{
    margin: 0px;
    float: none;
}

.navbar-red .collapse .navbar-collapse{
    text-align: center;
}

.navbar-red .container-fluid>.navbar-collapse{
    text-align: center;
}

.navbar-red .navbar-nav{
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
}

.navbar-red{
    background-color: #6666ff;/*#000000*/;
    color: #ffffff;
    /*border: 1px #444444 solid;*/
    border-radius: 0px;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}

.navbar-red .navbar-brand{
    font-size:  20px;

}

.navbar-red .navbar-brand:hover{
    font-size:  20px;
    color: #ffffff;
}

.navbar-red a{
    color: #ffffff;/* #ffffff;*/
}

.navbar-red a:hover{
    /*color : black;*/
    background-color: #003366;

    background-image: none;
}

.navbar-red .navbar-nav a{
    color: #ffffff;/* #ffffff;*/
    font-weight: bold;

}

.navbar-red .navbar-nav a:hover{
    /*color : black;*/
    background-color: #003366;
    color: #ffffff;
    background-image: none;
}

.navbar-red .nav .open>a{
    /*color : black;*/
    background-color: #003366;
    background-image: none;
}

.navbar-red .nav>li>a:focus, .nav>li>a:hover{
    background-color: #003366;

    color: #ffffff;
}


.navbar-red .navbar-toggle{
    background-color: #ffffff;
    color: #6666ff;
}

.navbar-red .navbar-toggle:hover{
    background-color: #e0e0e0;
}

.navbar-red .navbar-toggle .icon-bar{
    background-color: #6666ff;
}

.navbar-red .dropdown-menu{
    color: black;
    background-color: #6666ff;


}

.navbar-red .dropdown-menu a{
    padding: 9px;
    font-weight: bold;
}

.navbar-red .dropdown-menu .divider{
    margin: 0px;
}
/* -----------------END : navbar tools --------------*/

/* --------------Start : Layout style--------------- */


#header{
    background-color: #ffffff;
}

body{
    background-color: #ececec;
    /*font-family: 'Archivo Black';*/
    color: #003366;
}

#toolMenu {

}

#toolMenu table{
    width: 100%
}

#toolMenu table td{
    width: 100%;

}

#searchBar{
    background-color: #e0e0e0;
    padding: 10px;
    margin: 20px;
    /*width: 100%;*/
    font-size: 16px;
    float: right;
}
/*
#searchBar input{
    width: 100px;
}*/

#searchBar:hover{
    background-color: #cccccc;
}

#searchBarButton{
    background-color: transparent;
    border: 0px hidden #000;
}

#searchBarText{
    background-color: transparent;
    border: 0px hidden #000;
    color: black;

}


#storeToolLeft{
    background-color: #e0e0e0;
    padding: 10px;
    width: fit-content;
    margin: 0px;
    text-align: center;
    float: left;
    font-size: 16px;
    height: 44px;
}

#storeToolLeft:hover{
    background-color: #cccccc;
}

#storeToolLeft:first-child{
    margin-left: 20px;
}

#storeToolLeft td{
    padding: 2px;
}

#storeToolLeft a{
    text-decoration: none;
    color: #666666;
}

#storeToolLeft img{
    width: 27px;
    height: 100%;
}



#storeTool{
    background-color: #e0e0e0;
    padding: 10px;
    width: fit-content;
    margin: 0px;
    text-align: center;
    float: right;
    font-size: 16px;
    height: 44px;
}

#storeTool:hover{
    background-color: #cccccc;
}

#storeTool:last-child{
    margin-right: 20px;
}

#storeTool td{
    padding: 2px;
}

#storeTool a{
    text-decoration: none;
    color: #666666;
}

#storeTool img{
    width: 35px;
    height: 100%;
}


#body{
    margin: 20px;
    color: #003366;
    /*background-color: #e0e0e0;*/
}

#body h2{
    font-weight: bold;
}

#body hr{
    border: 1px #003366 solid;
}

a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    /*-webkit-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
    /*-moz-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
    /*box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
    /*border: 2px #444444 solid;*/
    margin-bottom: 50px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: #6666ff url("../../ressources/up-arrow.png") no-repeat center 43%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
}

#footer{
    color: white;
    background-color: #6666ff;
    font-size: 16px;
    font-weight: bold;
}

#footer p{
    margin: 10px;
}

#footer a{
    text-decoration: none;
    color: #003366;
}

#footer a:hover{
    color: #000;
    cursor: pointer;
}
/* -----------------END : Layout style ------------------*/


/* ----------------- index.php -------------------------*/

#topList{

}

#homeListElt{
    text-align: center;
}

#homeListElt img{
    width: 100%;
}

/*---- carousel-----*/
.carousel-indicators{
    text-align: center;
    width: fit-content;
    margin-left: 0px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
}
.carousel-indicators li{
    /* background-color: black;*/
    border-color: white;
}

.carousel-indicators .active{
    background-color: white;
}
.carousel-control.left{
    background: none;
    color: black;
    /*border: 2px black solid;*/
}

.carousel-control.right{
    background: none;
    color: black;
}
.carousel{
   /* background-color: #003366;*/
    /*margin-top: 20px;*/
    /*width: fit-content;*/
    text-align: center;
}
.carousel .item{
    width: 100%;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    width: 100%;
    /*max-width: 900px;*/
    margin: 0 auto; /* Align slide image horizontally center */
}
/*------ END : Carousel -----*/

/* ----------------- END : index.php -------------------*/



/* ----------------- searchPage.php --------------------*/
#productList{
    /*text-align: center;*/

}

#product{
    text-align: center;
    /*background-color: #000;*/
    border: 10px #ececec solid;
    background-color: transparent;

}

#product:hover{
    border: 0px #ececec solid;
}

#product a{
}

#product img{
    width: 100%;

}

#productWarper{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.fa-star{
    color: orange;
}

.fa-star-half-o{
    color: orange;
}

.fa-star-o{
    color: orange;
}

/* ----------------- END : searchPage.php --------------*/

/* ----------------- productPage.php --------------*/
#productImage img{
    width: 100%;
}

#productDesc{
    border: 1px solid black;
}

/* ----------------- END : productPage.php --------------*/